@import "tailwindcss";
@font-face {
    font-family: 'MobPsychic';
    src: url('/fonts/mob-psycho-font.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
@keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
